body {
    margin: 0;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1F2937;
    overflow-x: hidden;
}

#unit-container {
    background: radial-gradient(106.06% 130.63% at 100% 0%, rgba(53, 74, 105, 0.60) 0%, rgba(72, 113, 147, 0.60) 12.98%, rgba(31, 41, 55, 0.60) 69.12%);
    display: flex;
    padding: 32px 56px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color:white;
    font-size: 14px;
}


#input-unit{
    padding:5px;
    background-color: transparent;
    border:2px solid #97C3E7;
    border-radius: 5px;
    color:white;
    margin:2px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    width:100px;
} 

#convert-btn{
    border-radius: 5px;
    background: #FFF;
    border:2px solid #FFF;
    padding: 8px 32px;
}

#metric-container{
    margin:0px 20px;
} 

.metrics{
    width: 100%;
    height: 100px;
    margin:20px 0px;
    border-radius: 4px;
    background: #273549;
    color: #97C3E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1px;
}